@model MyModel_CodeFirst.Models.Book

@{
    ViewData["Title"] = "刪除留言";
}

<h1>@ViewData["Title"]</h1>

<h3>您確定要刪除留言嗎?</h3>
<hr />
<div class="card">
    @if (Model.Photo != null)
    {
        <img src="@Url.Action("GetImage",new{gid=Model.GId})" class="img-thumbnail">
    }
    <div class="card-body">
        <h3> @Html.DisplayFor(model => model.Title)</h3>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>
    <div class="card-footer text-end">

        @Html.DisplayFor(model => model.Author) 於

        @Html.DisplayFor(model => model.TimeStamp)
    </div>
    <hr />
    <a asp-action="Index">回留言列表</a>

    <form asp-action="Delete" class="text-end alert alert-danger">
        <input type="hidden" asp-for="GId" />
        <input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('請注意!!您將會刪除該筆留言及所有回覆留言\r\n您確定要刪除留言嗎?')" />

    </form>
</div>
